<div>
  <img src="assets/windows/cr-maze-bg.jpg" width="600"></img>
</div>
<span style="font-size: 20px;">Welcome, <span style="font-weight: bold;">Team {{team}}</span></span>

<p> Solve the puzzle and enter the answer to win a crystal.

<table class="crystal-table" ng-if="teamStatus">
  <tr>
    <th>Physical</th>
    <th>Mental</th>
    <th>Mystery</th>
    <th>Skill</th>
  </tr>
  <tr>
    <td ng-repeat="q in teamStatus.questions">
      <img src="assets/icons/crystal.png" ng-if="q.answered" />
      <a ng-href="#/attempt/{{team}}/{{$index}}" ng-if="!q.answered">Try</a>
    </td>
  </tr>
</table>