<div class="yahoo-frame">
	<div>
		<img src="assets/windows/yahoo-bg.png" width="600"></img>
	</div>
	<div class="yahoo-links">
		<h2>
			<b> Arts and Humanities </b>
		</h2>
		<h3 class="yahoo-links">
			<a href="#/question/2">l33t-rature</a> .
		</h3>

		<h2>
			<b> Business and Technology </b>
		</h2>
		<h3 class="yahoo-links">
			<a href="#/question/3">DOT COM Boom</a> .
		</h3>

		<h2>
			<b> Entertainment </b>
		</h2>
		<h3 class="yahoo-links">
			<a href="#/question/4">Filmy Chakkar</a> . <a href="#/question/5">Saheb,
				TV aur Ghulam</a> .
		</h3>

		<h2>
			<b> Music and Culture </b>
		</h2>
		<h3 class="yahoo-links">
			<a href="#/question/6">Golden Age of Indipop .</a> <a
				href="#/question/7">Ewww-Rhythmics</a> .
		</h3>
	</div>
</div>