<md-content class="landing-container" layout-align="center center" id="popupContainer">
  <div ng-repeat="suspect in suspects" ng-class="suspect.cls" layout="column">
    <img ng-src="{{suspect.image}}" width="150px"/>
    <md-button class="md-raised" ng-href="{{suspect.link}}">{{suspect.name}}</md-button>
  </div>
  <div class="icon-grid-container">
    <div class="icon-grid-center">
      <span style="font-weight:bold;">Detective {{person.name}}, we need your help!</span>
      <br />
      Collect at least one clue from each room to
      <md-button class="md-raised" ng-click="goTo('/f')">Solve the Mystery!</md-button>
      <img ng-src="img/lock_pin_icon.png" width="120px">
      <br>
      &#x2705;&#x2705;&#x2705;&#x2705;
    </div>
  </div>
</md-content>
<md-content class="landing-panel-container" layout-align="center center">
</md-content>