@font-face {
  font-family: 'MS Sans Serif';
  src: url('../assets/fonts/MSSansSerif.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('../assets/fonts/MSSansSerifBold.woff2') format('woff2');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Fixedsys';
  src: url('../assets/fonts/Fixedsys.woff2');
  font-display: fallback;
}

* {
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  font-family: 'MS Sans Serif';
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

html *{
  cursor: url(../assets/cursors/cursor-default.png), default;
}

html.progress *{
  cursor: url(../assets/cursors/cursor-progress.png), progress;
}

html.wait *{
  cursor: url(../assets/cursors/cursor-wait.png), wait;
}

html.pointer * {
  cursor: url(../assets/cursors/cursor-pointer.png), pointer;
}

a {
  cursor: url(../assets/cursors/cursor-pointer.png), pointer;
}

div.Notepad {
  cursor: url(../assets/cursors/cursor-text.png), text;
  font-family: 'Fixedsys', monospace;
}

html, 
body, .App {
  margin: 0;
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  background-color: #008080;
}

.nav {
  width: 100%;
  height: 35px;
  margin-top: 0px;
  background-color: #c3c3c3;
  position: absolute;
  bottom: 0px;
}

.start-btn {
  position: relative;
  top: 3px;
  width: 90px;
  height: 30px;
  padding-left: 11px;
  border-style: solid;
  border-width: 2px;
  border-color: #dfdfdf #4b4b4b #4b4b4b #dfdfdf;
}

.start-btn-text {
  position: relative;
  left: 5px;
  top: -10px;
  display: inline-block;
  color: #000;
  font-weight: 700;
}

.desktop-icon-label {
  width: 80px;
  padding-bottom: 0px;
  color: #fff;
  line-height: 18px;
  text-align: center;
}

.score-text-label {
	position: relative;
	left: -25px;
	top: -10px;
  color: #000;
  font-weight: 700;
}

.team-ctx-menu {
	background: lightgrey;
	color: black;
	list-style:none;
	padding: 5px;
	border: 1px black solid;
}

.desktop-icon {
	width: 80px;
	text-align: center;
}

.desktop-icon-image {
	width: 32px;
	height: 32px;
}

.winamp-frame{
	background-image: url(../assets/windows/winamp-bg.png);
	width: 800px;
	height: 700px;
	font-size: 15px;
	font-weight: bold;
}

.winamp-playlist-frame {
	padding-top: 100px;
	color: green;
}

.winamp-playlist-label {
	font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  color: white;
}

.winamp-playlist {
	font-size: 15px;
  font-weight: bold;
} 

.winamp-playlist a {
	color: green;
	font-size: 15px;
  font-weight: bold;
}

.winamp-audio-player {
	padding-top: 115px;
	padding-left: 20px;
	max-height: 50px;
}

.yahoo-frame{
  width: 600px;
  height: 600px;
  font-size: 15px;
  color: blue;
  background-color: white;
}

.yahoo-links {
	padding-left: 20px;
}

.crystal-table {
	margin-left: 30px;
	border: 1px solid lightgrey;
}

.crystal-table td {
	width: 70px;
	height: 60px;
	text-align: center;
	border: 1px solid lightgrey;
}

.crui {
	font-size: 30px;
}