<mat-card class="outer-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>SAQ Pro 3.1 Max Thinking</mat-card-title>
    <mat-card-subtitle>Mixture of Experts</mat-card-subtitle>
  </mat-card-header>
 <mat-card-content style="min-height: 210px; align-items: center; min-width: 1000;">
  <table class="matrix-table">
    <tr>
      <th></th>
      <th><app-math-jax-paragraph mathString="$$T$$"></app-math-jax-paragraph></th>
      <th></th><th></th><th></th><th></th><th></th>
      <th><app-math-jax-paragraph mathString="$$Q$$"></app-math-jax-paragraph></th>
      <th></th><th></th><th></th>
    </tr>
    <tr>
      <td rowspan="5"><img src="../assets/brl.png" width="20px" height="220px"/></td>
      <td><app-math-jax-paragraph [mathString]="teams[0]"></app-math-jax-paragraph></td>
      <td rowspan="5"><img src="../assets/brr.png" width="20px" height="220px"/></td>
      <td>
      <td rowspan="5"><img src="../assets/brl.png" width="20px" height="220px"/></td>
@for (col of qmatrix[0]; track $index) {
  @if (col == 0) {
    <td>
      <app-math-jax-paragraph [mathString]="'$$' + col + '$$'"></app-math-jax-paragraph>
    </td>
  } @else  {
    <td style="background-color: aliceblue;">
      <a (click)="openQuestion(col)">
      <app-math-jax-paragraph [mathString]="'$$' + col + '$$'"></app-math-jax-paragraph>
      </a>
    </td>
  }
}
      <td rowspan="5"><img src="../assets/brr.png" width="20px" height="220px"/></td>
    </tr>

@for (row of qmatrix; track $index;let rowNum = $index;) {
  @if ($index > 0) {
    <tr>
      <td><app-math-jax-paragraph [mathString]="teams[$index]"></app-math-jax-paragraph></td>
      <td>
@if ($index == 2) {
  <app-math-jax-paragraph mathString="$$\times$$" style="font-size: 20px;"></app-math-jax-paragraph>
}
      </td>
@for (qid of row; track $index; let colNum = $index;) {
  @if (qid == 0) {
    <td>
      <app-math-jax-paragraph [mathString]="'$$' + (qid / 53).toFixed(2) + '$$'"></app-math-jax-paragraph>
    </td>
  } @else  {
    <td style="background-color: aliceblue;">
      <a (click)="openQuestion(qid)">
      <app-math-jax-paragraph [mathString]="'$$' + (qid / 53).toFixed(2) + '$$'"></app-math-jax-paragraph>
      </a>
    </td>
  }
}
    </tr>
  }
}
  </table>
 </mat-card-content>
 <mat-card-actions>
    <button matMiniFab aria-label="Example icon button with a home icon" [routerLink]="['/']" [queryParams]="{sq: true}">
      <mat-icon>home</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>