.score_value {
	font-size: 24;
	text-align: right;
	font-weight: bold;
}

.team_name {
	font-size: 24;
	font-style: italic;
	font-color: darkgrey;
	text-align: left;
}

.question_video {
	position: absolute;
	top: 20%;
	left: 20%;
}

.code_font {
	font-family: monospace;
}