.score_value {
	font-size: 16;
	text-align: right;
	font-weight: bold;
}

.team_name {
	font-size: 16;
	font-color: darkgrey;
	text-align: left;
}

.question_video {
	position: absolute;
	top: 20%;
	left: 20%;
}

.code_font {
	font-family: monospace;
}

.sup {
	font-size:14px;
	vertical-align:super;
}

.rounds_content {
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url("/quiz225/img/roundsbg.png");
	background-repeat: no-repeat;
	width: 1367px;
	height: 946px;
}

.green_link {
	color: green;
}

.rounds_container {
	position: absolute;
	left: 70px;
	top: 150px;
}