.score_value {
	font-size: 16;
	text-align: right;
	font-weight: bold;
}

.team_name {
	font-size: 16;
	font-color: darkgrey;
	text-align: left;
}

.question_video {
	position: absolute;
	top: 20%;
	left: 20%;
}

.code_font {
	font-family: monospace;
}

.sup {
	font-size:14px;
	vertical-align:super;
}