<md-content>
  <div>
    <p>
      Instructions on crafting the Nether portal.
      <ol>
        <li> Construct a 5x5 frame with <b>Obsidian</b> blocks.
        <li> Fill the interior with <b>Fire</b>,<b>Water</b> and <b>Lava</b> blocks
          such that there is one more <b>Fire</b> block than <b>Water</b>, and
          one more <b>Water</b> block than <b>Lava</b>.
        <li> Click on the block to cycle through different block types.
      </ol>
    </p>
    <table class="minecraft-table">
      <tr ng-repeat="row in data">
        <td ng-repeat="cell in row" class="minecraft-cell">
         <div layout="column">
          <img ng-src="{{cell.image}}"
            width="100px" height="100px" ng-click="flip(cell)"/>
        </td>
        </div>
      </tr>
    </table>
    <span ng-if="allCorrect">Congrats! Submit the answer <b>PICKAXE</b> to get your clue.</span>
  </div>
</md-content>