<md-content>
  <div>
    <i>Baithe, baithe, kya karein? Karna hai kuch kaam,<br>
    Shuru karo antakshri, leke prabhu ka naa<b>m</b>!</i>
  </div>
  <br>
  <b>Deewane</b> go first ...
  <br>
</md-content>
<div layout="row">
  <div flex-gt-sm="50" flex class="antakshari_container">
    <md-toolbar layout="row" class="md-hue-2">
      <div class="md-toolbar-tools">
        <span>Deewane</span>
      </div>
    </md-toolbar>
    <md-list ng-disabled="true">
      <md-list-item class="md-dense" ng-repeat="item in leftSongs" ng-click="null" ng-disabled="true">
        <h3 style="margin-right: 30px;">{{item.letter}}</h3>
        <audio controls ng-src="{{item.audio}}"></audio>
      </md-list-item>
    </md-list>
  </div>
  <div flex-gt-sm="50" flex class="antakshari_container">
    <md-toolbar layout="row" class="md-hue-2">
      <div class="md-toolbar-tools">
        <span>Parwane</span>
      </div>
    </md-toolbar>
    <md-list ng-disabled="true">
       <md-list-item class="md-dense" ng-repeat="item in rightSongs" ng-click="null" ng-disabled="true">
        <h3 style="margin-right: 30px;">{{item.letter}}</h3>
        <audio controls ng-src="{{item.audio}}"></audio>
      </md-list-item>
    </md-list>
  </div>
</div>