<md-content layout="row" flex>
  <div style="width: 300px; height: 500px; overflow-y: scroll;">
  	<md-list>
  	  <md-subheader class="md-no-sticky">Attempts</md-subheader>
      <md-list-item ng-repeat="attempt in attempts">
      	<span class="wordle-box" ng-repeat="digit in attempt.digits" ng-class="digit.cls">
      	{{digit.value}}
      	</span>
      </md-list-item>
  	</md-list>
  </div>
  <div flex>
    <p>
    In this game, you have to guess a 5 digit number (which doesn't have any
    repeating digits). Each guess needs to be a 5 digit number. After you guess,
    we'll show you how well you did:
     <span class="wordle-box wordle-green">X</span> indicates that you got the
     right digit in the right place;
     <span class="wordle-box wordle-yellow">X</span> indicates that the digit
     exists in the number, but not in the place you put it;
     <span class="wordle-box wordle-grey">X</span> indicates that the digit
     isn't in the answer.
    </p>
  	<md-input-container>
      <label>Enter a 5 digit number</label>
      <input ng-model="inputNumber">
    </md-input-container>
    <div>
      <md-button class="md-raised" ng-click="evaluate()">Submit</md-button>
    </div>
    <div ng-if="correct">Congratulations! Submit the number you guessed as the answer to this puzzle.</div>
    <div ng-if="errorMessage" class="wordle-error">{{errorMessage}}</div>
  </div>
</md-content>