<md-dialog aria-label="Attempt Answer">
  <form ng-cloak autocomplete="off">
    <md-toolbar class="md-theme-lite">
      <span>All attempts for Question {{ctrl.question}}</span>
    </md-toolbar>
    <md-dialog-content>
	    <md-list class="md-dense" style="max-height: 250px; overflow-y: scroll;">
	      <md-list-item ng-repeat="answer in ctrl.attempts.answers">
	        <div class="md-list-item-text">
	          {{answer.date}} <b>{{answer.name}}</b>&nbsp;{{answer.text}}
	          <span ng-if="$index == 0">&#x1F31F;</span>
	        </div>
	      </md-list-item>
	    </md-list>
    </md-dialog-content>

    WARNING: Only the last answer from the team is considered.
    <md-dialog-actions layout="row">
      Enter your answer: 
	    <md-input-container flex layout-align="center" layout-fill> 
	     <input type="text" ng-model="ctrl.answerText"></input>
	    </md-input-container>
	    <md-button class="md-raised md-primary" ng-click="ctrl.postAnswer()">
	      SUBMIT
	    </md-button>
	    <md-button class="md-raised md-primary" ng-click="ctrl.hide()">
        Cancel
      </md-button>
	  </md-dialog-actions>
  </form>
</md-dialog>