<ul>
	<li> Starting from the lowest scoring team, each team picks a video from questions 1-6 (q7 is all play).
	<li> Direct team can attempt for +10. Other teams can pounce (+10/-10).
	<li> Q7 is All-Play. Identify the pop-culture references for each emote for +5.
</ul>
<md-list>
	<md-list-item ng-repeat="video in videos" style="padding: 10px">
		<iframe width="445" height="250"
			src="{{video.url}}"
			frameborder="1"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen>
		</iframe>
		<div ng-if="video.answer_url">
			<a ng-href="{{video.answer_url}}" target="_blank">Answer</a>
		</div>
	</md-list-item>
</md-list>