<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Quizplus</servlet-name>
		<servlet-class>us.quizpl.app.PrelimsGetter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Import</servlet-name>
		<servlet-class>us.quizpl.ImportServlet</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>Search</servlet-name>
    	<jsp-file>/Search.jsp</jsp-file>
	</servlet>
	<servlet>
    	<servlet-name>PrelimsGet</servlet-name>
    	<servlet-class>us.quizpl.app.PrelimsGetter</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>PrelimsSet</servlet-name>
    	<servlet-class>us.quizpl.app.PrelimsSetter</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Quizplus</servlet-name>
		<url-pattern>/quizplus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Import</servlet-name>
		<url-pattern>/import</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>Search</servlet-name>
    	<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>PrelimsGet</servlet-name>
    	<url-pattern>/prelimsget</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>PrelimsSet</servlet-name>
    	<url-pattern>/prelimsset</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
