<section flex class="question-container">
  <md-toolbar class="md-theme-light">
   <div class="md-toolbar-tools">
    <h3 flex md-truncate>{{content.title}}</h3>
    <md-button class="md-raised" ng-click="attemptAnswer()">Submit Answer</md-button>
    <md-button class="md-raised" ng-click="go('/s/' + arena)">Back</md-button>
    <md-button class="md-raised" ng-click="showHint()">Show Hint</md-button>
   </div>
  </md-toolbar>
	 <md-content flex layout-padding layout="column">
	  <img ng-if="content.img_url" ng-src="{{content.img_url}}" width="{{content.img_width}}"
	    height="{{content.img_height}}"
	    style="border: 1px solid black;">
	  </img>
	  <iframe id="ytplayer" type="text/html" width="640" height="385" ng-if="content.video_url" class="question_video"
	    ng-src="{{content.video_url}}"
	    frameborder="0">
	  </iframe>
	  <match ng-if="content.is_match" matchdata="content.match_data"></match>
	  <memory ng-if="content.is_memory" memorydata="content.memory_data"></memory>
	  <spotit ng-if="content.is_spotit"></spotit>
	  <solar ng-if="content.is_solar"></solar>
	  <algebra ng-if="content.is_algebra"></algebra>
	  <solvent ng-if="content.is_solvent"></solvent>
	 </md-content>
</section>