/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.group-map-bg-1 {
    height: 726px;
    width: 940px;
    background-image: url('assets/g1.png');
    position: relative;
}

.group-map-bg-2 {
    height: 726px;
    width: 940px;
    background-image: url('assets/g2.png');
    position: relative;
}

.group-map-bg-3 {
    height: 726px;
    width: 940px;
    background-image: url('assets/g3.png');
    position: relative;
}

.final-bg {
    height: 644px;
    width: 940px;
    background-image: url('assets/final-bg.jpg');
    position: relative;
}

.site-wrapper {
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 96px 20px;
    display: flex;
}

*, :before, :after {
    box-sizing: border-box;
}

.profile-text {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    display: flex;
    color: #000000e0;
    font-size: 16px;
    font-weight: 600;
}

body {
    font-family: "berkeleyMono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    letter-spacing: -.005em;
    color: var(--text);
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
}

.page-transition {
    align-items: center;
    min-width: 0;
    display: flex;
    flex-direction: column;
}