<div width="1024">

<md-toolbar class="md-hue-1"  flex="100">
  <div class="md-toolbar-tools">
    <span>Go Back:</span>
    <md-button class="md-icon-button md-fab md-mini" ng-click="goto('/')">
      <md-icon md-font-set="material-icons">home</md-icon>
    </md-button>
    <span>Previous Slide:</span>
    <md-button class="md-icon-button md-fab md-mini" ng-click="prev()" ng-disabled="isPrevDisabled()">
      <md-icon md-font-set="material-icons">skip_previous</md-icon>
    </md-button>
    <span>Next Slide:</span>
    <md-button class="md-icon-button md-fab md-mini" ng-click="next()"  ng-disabled="isNextDisabled()">
      <md-icon md-font-set="material-icons">skip_next</md-icon>
    </md-button>
    <span>Show Answer:</span>
    <md-button class="md-icon-button md-fab md-mini" ng-click="showAnswer()">
      <md-icon md-font-set="material-icons">check</md-icon>
    </md-button> 
  </div>
</md-toolbar>

<img ng-src="{{currentImage}}" style="border: 1px solid black;" width="1024" height="768"></image>

<iframe id="ytplayer" type="text/html" width="640" height="385" ng-if="videoUrl" class="question_video"
  ng-src="{{videoUrl}}"
  frameborder="0"></iframe>

<!-- 
<object width="640" height="385" ng-if="videoUrl" class="question_video">
tDwoBYCrEx0
	<param name="movie" ng-value="getFullVideoUrl()"></param>
	<param name="movie" ng-value="getFullVideoUrl()"></param>
</object>
-->

 </div>