<section layout="row" layout-sm="column" layout-wrap>
	<md-content ng-repeat="teamscore in ctrl.scores" layout="column">
	<md-card md-whiteframe="5" width="30"> <md-card-content>
	<div width="100%">
		<span class="team_name">{{teamscore.name}}</span> has <span
			class="score_value">{{teamscore.points}}</span> likes.
	</div>
	<md-button class="md-fab md-mini md-primary"
		ng-click="plusFive(teamscore)">&#x1F44D;</md-button> <md-button
		class="md-fab md-mini md-primary" ng-click="minusFive(teamscore)">&#x1F44E;</md-button>
	</md-card-content> </md-card> </md-content>
	<md-content> <md-button class="md-primary"
		ng-click="clearStorage()">Clear Local Storage</md-button> </md-content>
</section>