<section layout="column" layout-sm="column" layout-wrap>
	<md-content ng-repeat="teamscore in ctrl.scores" layout="column">
		<md-card md-whiteframe="5" width="30">
		 <md-card-content>
			<div width="100%">
				<span class="team_name">{{teamscore.name}}</span> has <span
					class="score_value">{{teamscore.points}}</span> likes.
			</div>
			<section layout="row" style="margin-left: -10px;">
			  <md-button class="md-icon-button like_button" ng-click="addToTeam(teamscore, 5)">
				  <i class="material-icons">thumb_up</i>
			  </md-button>
		    <md-button class="md-icon-button like_button" ng-click="addToTeam(teamscore, -5)">
		      <i class="material-icons">thumb_down</i>
			  </md-button>
			  <md-button class="md-icon-button like_button" ng-click="addToTeam(teamscore, 10)">
		      <i class="material-icons">trending_up</i>
			  </md-button>
			  <md-button class="md-icon-button like_button" ng-click="addToTeam(teamscore, -10)">
		      <i class="material-icons">trending_down</i>
			  </md-button>
			</section>
		 </md-card-content>
	 </md-card>
	</md-content>
	<md-content>
		<md-button class="md-primary"	ng-click="clearStorage()">Clear Local Storage</md-button>
		<md-button class="md-primary" ng-click="resetGraph()">Reset Graph</md-button>
		<md-menu>
			<md-button class="md-primary" ng-click="showSnapMenu($mdMenu, $event)">The Snap</md-button>
			<md-menu-content width="4">
				<md-menu-item  ng-repeat="teamscore in ctrl.scores">
					<md-checkbox>
						{{teamscore.name}}
					</md-checkbox>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</md-content>
</section>